html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map {
    float: right;
    height: 100%;
    width: 85%;
}

#menu {
    float: left;
    text-align: center;
    padding-left:1%;
    padding-top:10%;
    width: 12%;
}

#startParcBtn {
    margin-bottom: 3px;
}

.controlbtns {
    width:100%;
    margin-bottom:3px;
    margin-top: 5px;
}

#linesBtn{
    
}